@charset "UTF-8";
@font-face {
  font-family: 'bcs';
  src: url('./font/bcs.woff?76682285') format('woff');
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* Typography */
@layer base {
  h1 {
    @apply text-[32px] leading-[34px] text-primario-900 font-bold tracking-[0.001px];
  }

  h2 {
    @apply text-[28px] leading-[30px] text-primario-900 font-bold tracking-[0.001px];
  }

  h3 {
    @apply text-[24px] leading-[26px] text-primario-900 font-semibold tracking-[0.001px];
  }

  h4 {
    @apply text-[20px] leading-[22px] text-primario-900 font-semibold tracking-[0.001px];
  }

  p {
    @apply text-primario-900 tracking-[0.001px];
  }

  span {
    @apply tracking-[0.001px];
  }

  select {
    @apply text-primario-900 font-light text-base;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  input {
    @apply text-lg leading-[20px];
  }

  option {
    @apply py-3;
  }
}

/* icons */

[class^='bcs-']:before,
[class*=' bcs-']:before {
  font-family: 'bcs';
  font-style: normal;

  display: inline-block;
  text-decoration: inherit;
  width: auto;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.bcs-arrow-one-down:before {
  content: '\e800';
} /* '' */
.bcs-arrow-one-left:before {
  content: '\e801';
} /* '' */
.bcs-arrow-one-up:before {
  content: '\e802';
} /* '' */
.bcs-arrow-one-right:before {
  content: '\e803';
} /* '' */
.bcs-arrow-two-down:before {
  content: '\e804';
} /* '' */
.bcs-arrow-two-left:before {
  content: '\e805';
} /* '' */
.bcs-arrow-two-right:before {
  content: '\e806';
} /* '' */
.bcs-arrow-two-up:before {
  content: '\e807';
} /* '' */
.bcs-eye-hide:before {
  content: '\e808';
} /* '' */
.bcs-eye-show:before {
  content: '\e809';
} /* '' */
.bcs-badge:before {
  content: '\e811';
} /* '' */
.bcs-calendar-day:before {
  content: '\e812';
} /* '' */
.bcs-calendar-ok:before {
  content: '\e813';
} /* '' */
.bcs-charts:before {
  content: '\e814';
} /* '' */
.bcs-clock:before {
  content: '\e815';
} /* '' */
.bcs-document-id:before {
  content: '\e816';
} /* '' */
.bcs-document:before {
  content: '\e817';
} /* '' */
.bcs-edit-calendar:before {
  content: '\e818';
} /* '' */
.bcs-hand-money:before {
  content: '\e819';
} /* '' */
.bcs-location:before {
  content: '\e820';
} /* '' */
.bcs-money:before {
  content: '\e821';
} /* '' */
.bcs-push:before {
  content: '\e822';
} /* '' */
.bcs-search:before {
  content: '\e823';
} /* '' */
.bcs-tooltip_info:before {
  content: '\e824';
} /* '' */
.bcs-camera:before {
  content: '\e825';
} /* '' */
.bcs-home:before {
  content: '\e826';
} /* '' */
.bcs-email:before {
  content: '\e827';
} /* '' */
.bcs-check:before {
  content: '\e828';
} /* '' */
.bcs-close:before {
  content: '\e829';
} /* '' */
.bcs-id-hand:before {
  content: '\e830';
} /* '' */
.bcs-star:before {
  content: '\e831';
} /* '' */
.bcs-add:before {
  content: '\e832';
} /* '' */
.bcs-pen-edit:before {
  content: '\e833';
} /* '' */
.bcs-plus-circle:before {
  content: '\e834';
} /* '' */
.bcs-subt:before {
  content: '\e835';
} /* '' */
.bcs-chat-adviser:before {
  content: '\e836';
} /* '' */
.bcs-chat-edit:before {
  content: '\e837';
} /* '' */
.bcs-lock-edit:before {
  content: '\e838';
} /* '' */
.bcs-check-1:before {
  content: '\e839';
} /* '' */
.bcs-error-1:before {
  content: '\e840';
} /* '' */
.bcs-information:before {
  content: '\e841';
} /* '' */
.bcs-advertising:before {
  content: '\e842';
} /* '' */
.bcs-alert:before {
  content: '\e843';
} /* '' */
.bcs-success:before {
  content: '\e844';
} /* '' */
.bcs-check-box-one-hide:before {
  content: '\e845';
} /* '' */
.bcs-check-box-one-show:before {
  content: '\e846';
} /* '' */
.bcs-radio-buttom-hide:before {
  content: '\e847';
} /* '' */
.bcs-radio-buttom-show:before {
  content: '\e848';
} /* '' */
.bcs-bulding:before {
  content: '\e849';
} /* '' */
.bcs-user-heart:before {
  content: '\e850';
} /* '' */
.bcs-phone:before {
  content: '\e852';
} /* '' */
.bcs-adge-money:before {
  content: '󨀐';
} /* '\e8010' */
.showActiveCard input ~ span div:after {
  content: '';
  position: absolute;
  display: block;
  width: 1rem;
  height: 1rem;
  top: 7px;
  left: 7px;
  border-radius: 50%;
  background: #005491;
}
.showActiveCard .card-shipping {
  border: 0.0625rem solid #005390 !important;
  background-color: #f3f4f6 !important;
}
.hover\:border-primario-400:hover {
  --tw-border-opacity: 1;
  border-color: rgb(0 83 144 / var(--tw-border-opacity));
}
.showActiveCard.card-shipping {
  border: 0.0625rem solid #005390;
  background-color: #f3f4f6;
}
.showActiveCard .icon-shipping {
  background-color: #ffffff;
}
.showActiveCard input ~ span:after {
  content: '';
  position: absolute;
  display: block !important;
  width: 1rem;
  height: 1rem;
  top: 7px;
  left: 7px;
  border-radius: 50%;
  background: #005491;
}
input[type='number'] {
  -moz-appearance: textfield !important;
}

.border-text-area {
  border: 0.5px solid #798c98;
}

.border-text-area:focus-within {
  border: 0.5px solid #798c98 !important;
}

.border-text-area:focus-visible {
  border: 0.5px solid #798c98 !important;
  outline: none !important;
}

/* Start Animations */

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.slideOutDown {
  -webkit-animation-name: slideOutDown;
  animation-name: slideOutDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes slideOutDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(5vh);
    transform: translateY(5vh);
  }
  100% {
    visibility: hidden;
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh);
    opacity: 0;
  }
}
@keyframes slideOutDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(5vh);
    transform: translateY(5vh);
  }
  100% {
    visibility: hidden;
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh);
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  /* display: none; */
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@media (max-width: 375px) {
  @-webkit-keyframes slideInUp {
    0% {
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
      visibility: visible;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @keyframes slideInUp {
    0% {
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
      visibility: visible;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
}
/* End Animations */

input[type='radio'] + label span:hover,
input[type='radio']:checked + label span {
  background-color: #0072c8;
  box-shadow: 0px 0px 0px 6.5px white inset;
}

.prob {
  animation-name: prob;
  animation-duration: 1000ms;
}

.ln-14 {
  line-height: 14px;
}

.br-4 {
  border-radius: 4px;
}

.little-shadow {
  box-shadow: 0px 0px 2px rgba(0, 37, 61, 0.12), 0px 1px 4px rgba(0, 37, 61, 0.06);
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.right-65 {
  right: 65%;
}

.top-17 {
  top: 17px;
}

.fz-14 {
  font-size: 0.9rem;
}

.font-weight-300 {
  font-weight: 300;
}

.bg-smmoth {
  background-color: #e5f0f9;
}

.border-primario-20 {
  border: 1px solid #005491;
}

.background-grey {
  background-color: #f5f5f5;
}

.br-14p {
  border-radius: 14px;
}

.fz-16 {
  font-size: 1rem;
}

.border-azul {
  border: 2px solid #0386e6;
}

.bg-blue {
  background-color: #0386e6;
}

.bg-gray {
  background-color: #00253d;
}

.border-gray {
  border: 1px solid #c0cfd8;
}

.line-h18 {
  line-height: 18.75px;
}

.ln-26 {
  line-height: 26px;
}

.border-check-blue {
  border: 1px solid #005491;
}

.border-radioS {
  border: 1px solid #c0cfd8;
}

.fw-500 {
  font-weight: 500;
}

.fw-300 {
  font-weight: 300;
}

.d-none {
  display: none;
}

.ln-16 {
  line-height: 16px;
}

.ln-18 {
  line-height: 18px;
}

.ln-20 {
  line-height: 20px;
}

.top-22 {
  top: 22px;
}

.r-none {
  resize: none;
}

.border-text-area {
  border: 0.5px solid #798c98;
}

.border-text-area:focus-within {
  border: 0.5px solid #798c98 !important;
}

.border-text-area:focus-visible {
  border: 0.5px solid #798c98 !important;
  outline: none !important;
}

@keyframes prob {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 500px) {
  .sm-dnone {
    display: none;
  }
}

.otp-div :not(input[value='']) {
  border-color: #3a4f5d !important;
  border-width: 1px !important;
}

.react-pdf__Document {
  width: 100%;
}

.react-pdf__Page {
  width: 90vw;
  max-width: 100%;
}

.react-pdf__Page__svg {
  width: auto !important;
  height: auto !important;
}

.react-pdf__Page__canvas {
  width: auto !important;
  height: auto !important;
  max-width: 100%;
}

.react-pdf__Page__svg svg {
  max-width: 100% !important;
  width: 90vw;
  height: auto;
}

.v-none {
  visibility: none;
}

.img-biometry {
  max-width: 192px;
  border-radius: 9px;
}

.img-selfie-biomety {
  max-width: '130px';
  max-height: '130px';
  border-radius: '50%';
  object-fit: 'cover';
}

.mw-32 {
  max-width: 32px;
}

.mw-64 {
  max-width: 64px;
}

.mh-64 {
  max-height: 64px;
}

.minw-64 {
  min-width: 64px !important;
}

.head-accordiom-color {
  color: #496374;
}

.bg-blue-claro {
  background-color: #ebf8fe;
}

li .ellipsis {
  margin-left: 6px !important;
}

.wrapper ul {
  padding-left: 5px !important;
}

.wrapper input {
  padding-left: 8px !important;
}

.shadow-auto {
  border: 0px !important;
}

.fill-newCheck {
  fill: #b01630;
}

.text-lg-ln {
  font-size: 1.125rem;
}

.text-lead {
  color: #496374;
}

.fw-400 {
  font-weight: 400;
}

#gender option {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 23px;
  font-weight: 400;
  color: #000000;
}

#gender option:hover {
  background-color: #f1f1f1;
}

.border-color-none {
  border-color: transparent;
}

.uplabel {
  transform: translate(-4px, -21px) !important;
  padding: 0px 5px 0px 5px;
  background-color: white;
  transition-duration: 200ms;
  font-size: 0.78rem;
}

@media (max-width: 1364px) {
  #cardIndexLg {
    display: none;
  }
}
